@{
    ViewBag.Title = "InLine's Story";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inline was built out of a sheer frustration involving a certain need for coffee and the issue of having to wait for it.</p>
<p>Andrew Payne reached out to Michael Baldwin, Developer and Owner of One Idea Solutions so see about having a solution made.</p>
<p>After many meetings and phone calls, an idea for the app was fleshed out and a design was in mind. Now it was up to Michael to put the tech together.</p>
<h3>The Solution.</h3>
<p>After researching possibilities, I stumbled across a foot-traffic API called BestTime, which became the backbone of the InLine mobile app.
    Utilizing this foot-traffic data, a query system and UI were developed to bring simplicity of use to the average every day user, and for free if you can believe it.</p>



