
@{
    ViewBag.Title = "Backbone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InLine's Backbone technology.</h2>
<p>InLine was built utilizing a vast database built from foot-traffic data available through the <a href="https://besttime.app">BestTime API</a>.</p>
<p>It involves careful handling of data depending on location and interests to craft a list of the best suited venues for you to search from.</p>
<h3>Insider knowledge</h3>
<p class="col-lg-3">Utilizing this data we're able to know what's happening around the world first, which enables YOU to be first in line.</p><img src="https://besttime.app/images/landingpage/forecast-tool-small-heatmap.webp" />
