@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Floating in The Cloud<br />
    1800 Stairway, Blvd<br />
    <abbr title="Phone">P:</abbr>
    541.852.1473
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Michael@OneIdeaSolutions.com">Michael@OneIdeaSolutions.com</a>
</address>