@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InLine</h1>
    <p class="lead">InLine is a free mobile app which allows you to predict wait times at different venues.</p>
    <p>@Html.ActionLink("Learn More!", "Backbone", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            InLine lets YOU be in charge of your wait times. Click here to learn about the team.
        </p>
        <p>@Html.ActionLink("About", "About", "Home", null, new {@class = "btn btn-default" })</p>
        
    </div>
    <div class="col-md-4">
        <h2>Get on Android</h2>
        <p>Both the Android and iOS apps have the same features- See the Android app here!</p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.inline.besttime&gl=us">App Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get on iOS</h2>
        <p>Both the Android and iOS apps have the same features- See the iOS app here!</p>
        <p><a class="btn btn-default" href="https://apps.apple.com/us/app/inline-mobile-app/id6444121128">App Store &raquo;</a></p>
    </div>
</div>